{{ if eq .chezmoi.os "darwin" }}
[".config/git/ignore"]
type = "file"
url = "https://raw.githubusercontent.com/github/gitignore/main/Global/macOS.gitignore"
{{ end }}

[".config/mpv/scripts/autoload.lua"]
type = "file"
url = "https://raw.githubusercontent.com/mpv-player/mpv/v0.38.0/TOOLS/lua/autoload.lua"
