[user]
	email = git@yuru.moe
	name = NextFire
	signingkey = 8EE0DE3A0AC6A57E
[core]
	autocrlf = input
[init]
	defaultBranch = main
[fetch]
	prune = true
	prunetags = true
[pull]
	rebase = true
[commit]
	gpgSign = true
[push]
	autoSetupRemote = true
[diff]
    tool = code --wait --diff $LOCAL $REMOTE
[rebase]
	autosquash = true
	autostash = true
[merge]
	tool = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
	conflictstyle = zdiff3
	ff = false
[rerere]
	enabled = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[url "git@github.com:"]
	insteadOf = "https://github.com/"
