if status is-interactive
    # Commands to run in interactive sessions can go here
end

# python
abbr -a uvp 'uv pip'
abbr -a uvv 'uv venv'
abbr -a activate 'source .venv/bin/activate.fish'

# kubectl
abbr -a k kubectl
abbr -a kt 'kubectl -n kube-dashboard create token admin-user | pbcopy'
abbr -a kn 'kubectl get nodes -o wide -w'
abbr -a kp 'kubectl get pods -A -o wide -w'
abbr -a kf 'kubectl delete pod --field-selector="status.phase==Failed" -A'
abbr -a kd 'kubectl drain --ignore-daemonsets --delete-emptydir-data'

# rclone
abbr -a jotta 'rclone mount jotta-crypt: ~/rclone --vfs-cache-mode writes --daemon'
abbr -a sd 'rclone mount steamdeck:/run/media/mmcblk0p1 ~/rclone --vfs-cache-mode writes'

# others
abbr -a mpvtct 'mpv --vo=tct --profile=sw-fast --vo-tct-algo=plain --vo-tct-256=yes --really-quiet'

# exports
set -x GOPATH ~/.go
{{- if eq .chezmoi.os "darwin" }}
#set -x JAVA_HOME (/usr/libexec/java_home)
{{- end }}

# $PATH
fish_add_path -P ~/.local/bin ~/.krew/bin ~/.cargo/bin
{{- if eq .chezmoi.os "darwin" }} (brew --prefix python@3.12)/libexec/bin{{ end }}
{{- if eq .chezmoi.os "darwin" }}
fish_add_path -aP ~/.rd/bin
{{- end }}

# fzf
fzf --fish | source
{{- if eq .chezmoi.os "darwin" }}
bind © fzf-cd-widget
{{- end }}
