function history-backup
{{- if eq .chezmoi.os "darwin" }}
    set localhostname (scutil --get LocalHostName)
{{- else if eq .chezmoi.os "linux" }}
    set localhostname (hostname)
{{- end }}
    rclone copyto $HOME/.local/share/fish/fish_history jotta-crypt:Documents/local_secrets/$localhostname/fish_history -P
end
